PngHighlight RCData "..\\..\\..\\Images\\Salus\\BtnHighlight.png"
PngSelect RCData "..\\..\\..\\Images\\Salus\\BtnSelect.png"
PngDown RCData "..\\..\\..\\Images\\Salus\\BtnTempDown.png"
PngUp RCData "..\\..\\..\\Images\\Salus\\BtnTempUp.png"
PngSet RCData "..\\..\\..\\Images\\Salus\\BtnSet.png"
PngReset RCData "..\\..\\..\\Images\\Salus\\BtnReset.png"
PngFlame RCData "..\\..\\..\\Images\\Salus\\IconFlame.png"
PngSnow RCData "..\\..\\..\\Images\\Salus\\IconSnowFlake.png"
